*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #0F0F0F;
  scroll-behavior: smooth;
}

.yt-scrollbar::-webkit-scrollbar{
  width: 10px;
}
.yt-scrollbar::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 10px;
}
.yt-scrollbar::-webkit-scrollbar-thumb:hover{
  background: #272727;
}
.yt-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchFeed-section:nth-child(2){
  display: none;
   width: 180px;
   height: 180px;
   margin-left: 5rem;
   border-radius: 100%;
   
 }

@media screen and (max-width:600px){
  .related-section{
    flex-direction: column;
  }
  .searchFeed-section{
    flex-direction: column;
  }
  .sidebar{
    display: none;
  }
}